# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\大量项目等你来战\src\练习1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
